<!DOCTYPE html>
<html>
<head>
  <title>FOWA</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= juggernaut_meta_tags %>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(function(){
      new Pages({el: $("#pages")});
    });
  </script>
</head>
<body>
  <h1 id="title">Future of Web Apps</h1>
  <div id="pages"></div>
</body>
</html>
