<!DOCTYPE html>
<html>
<head>
  <title>Spine Rails3</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(function(){
      new App({el: $("#app")});
    });
  </script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
