<form>
  <label>
    <span>Name</span>
    <input type="text" name="name" value="${name}" required autofocus>
  </label>

  <label>
    <span>Body</span>
    <textarea name="body">${body}</textarea>
  </label>
  
  <button>Save</button>
</form>